:root {
	--text_font_size: clamp(16px, 2vw, 24px);
	--text_font_size_header: calc(var(--text_font_size) + 0.1rem);
	--text_font_size_header_big: calc(var(--text_font_size_header) + 0.06rem);
	--header_width: calc(var(--text_font_size) * 3.0);
	--inset: 0;
	--padding: var(--text_font_size);
	--padding_half: calc(var(--padding) * 0.5);
	--padding_quat: calc(var(--padding_half) * 0.5);
	--padding_big: calc(var(--padding) * 2.0);
	--color_border_1: #D1D5DD;
	--color_border_2: #E5EAEE;
	--color_background_1: #E4E8F0;
	--color_background_2: #FFFFFF;
	--color_background_3: #F6F8FA;
	

	--color_text_1: #2A2F46;
	--color_text_2: #FFFFFF;
	--color_text_3: #57606A;
	--color_link: #E8586F;
	--color_scrollbar_background: #EFF2F5;
	--color_scrollbar_pointer_1: #E8566D;
	--color_scrollbar_pointer_2: #555C6C;
	
	
	
	
	--grid_min_item_width: calc(320px - var(--padding) * 2.0);
	--grid_min_item_height: calc(var(--grid_min_item_width) * 0.75);
	--color_background_grid_link: rgba(0, 0, 0, 0.75);
	
	counter-reset: headings;
}
* {
	box-sizing: border-box;
	word-break: break-all;
	outline: none;
	scrollbar-width: thin;
}
html {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
	-webkit-text-size-adjust: 100%;
	font-weight: 300;
	font-size: 14px;
}
/* ---------------------------------------------------------------------------------------------------- */


body {
	margin: 0;
	padding: 0;
	background-color: var(--color_background_1);
	color: var(--color_text_1);
	font-size: 0;
}
main {
	margin-inline: var(--inset);
}
header {
	z-index: 100;
	inset-inline: var(--inset);
}
header, [data-summary_index] > summary {
	top: 0;
	position: fixed;
	height: var(--header_width);
}
[data-summary_index] > summary, section {
	font-size: var(--text_font_size);
}
[data-summary_index] > summary {
	line-height: var(--header_width);
	width: var(--header_width);
	text-align: center;
	z-index: 101;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
}
summary {
	cursor: pointer;
}
[data-summary_index="0"] > summary {
	left: 0;
}
[data-summary_index="1"] > summary {
	left: var(--header_width);
}
[data-summary_index="2"] > summary {
	left: calc(var(--header_width) * 2.0);
}
[data-summary_index="3"] > summary {
	left: calc(var(--header_width) * 3.0);
}
[data-summary_index="4"] > summary {
	left: calc(var(--header_width) * 4.0);
}
[data-summary_index="5"] > summary {
	left: calc(var(--header_width) * 5.0);
}
section {
	padding: var(--padding);
	line-height: 1.5;
	min-height: calc(100vh - var(--header_width));
	margin-top: var(--header_width);
}
header, section:has([c_content]), [c_toc] {
	background-color: var(--color_background_2);
}
[name="header_navigation"][open] > summary {
	background-color: var(--color_scrollbar_pointer_1);
	color: var(--color_text_2);
}
header, [name="header_navigation"][open] > summary  {
	border-bottom: 1px solid var(--color_border_1);
}
[c_content] > *, [c_content] li {
	margin: var(--padding) 0 0 0;
}
[c_content] > :first-child {
	margin-top: 0;
}



[c_toc] {
	position: sticky;
	top: var(--header_width);
}
[c_toc] > a {
	margin-top: var(--padding_quat);
	display: block;
}


/* ---------------------------------------------------------------------------------------------------- */

h1 {
	font-size: var(--text_font_size_header_big);
	padding-bottom: var(--padding);
	border-bottom: 2px solid var(--color_border_2);
	text-transform: uppercase;
}
h1::before {
	background-color: var(--color_scrollbar_pointer_1);
	position: absolute;
	height: 2px;
	width: 80%;
	bottom: -2px;
	left: 10%;
}
h1, h2::before {
	font-weight: 600;
}
h2 {
	counter-increment: headings;
	font-weight: 500;
	margin-top: var(--padding_big) !important;
}
h2, h3, h4, h5, h6 {
	font-size: var(--text_font_size_header);
}
h3, h4, h5, h6, th, b, strong, kbd {
	font-weight: 400;
}
main, h1, sup {
	position: relative;
}
table {
	width: 100%;
	border-collapse: collapse;
	overflow-y: scroll;
}
table, pre, kbd {
	border-top: 1px solid var(--color_border_2);
	border-left: 1px solid var(--color_border_2);
}
th, td {
	vertical-align: top;
}
th, td, pre, kbd {
	border-bottom: 1px solid var(--color_border_2);
	border-right: 1px solid var(--color_border_2);
}
th, td, pre, q, blockquote {
	padding: var(--padding_half);
}
pre, table {
	max-height: 70vh;
	scrollbar-color: var(--color_scrollbar_pointer_2) var(--color_scrollbar_background);
}
pre, q, img, table, [c_toc] > a {
	display: block;
}
pre, q, blockquote, kbd {
	color: var(--color_text_3);
}
pre, q, blockquote, img, th, kbd {
	background-color: var(--color_background_3);
}
pre {
	overflow: scroll;
	tab-size: 4;
}
pre, img {
	min-height: var(--padding);
}
img {
	min-width: var(--padding);
	max-width: 100%;
	height: auto;
}
q, blockquote {
	border-left: 3px solid var(--color_border_2);
	font-style: italic;
}
h2::before {
	content: "§" counter(headings) ". ";
}
sup {
	font-size: inherit;
	bottom: var(--padding_quat);
	border-bottom: 1px dotted var(--color_text_1);
	cursor: zoom-in;
}
sup::before {
	content: '[';
}
sup::after {
	content: ']';
}
kbd, pre {
	font-family: Courier, "Lucida Console", monospace;
	font-size: 1rem;
}
kbd {
	padding: var(--padding_quat);
}
sup, kbd {
	line-height: 0;
}
[data-summary_index] > summary::marker, h1::before, q::before, q::after {
	content: '';
}
a {
	text-decoration: none;
	color: var(--color_link);
}
ul {
	list-style: square
}
:is(ol, ul) {
	padding: 0 0 0 var(--padding);
}
a[name] {
	display: none;
}





/* ---------------------------------------------------------------------------------------------------- */

@media only screen and (min-width: 360px) {
	:root {
		--inset: var(--text_font_size);
	}
	section:has( > [c_content] ) {
		border-left: 1px solid var(--color_border_1);
		border-right: 1px solid var(--color_border_1);
	}
	main::before {
		content: '';
		position: fixed;
		height: calc(var(--header_width) - 1px);
		inset-inline: 0;
		background: var(--color_background_2);
		border-bottom: 1px solid var(--color_border_1);
	}
	main::before, [c_toc] {
		top: 0;
	}
	[data-summary_index="0"] > summary {
		left: var(--inset);
	}
	[data-summary_index="1"] > summary {
		left: calc(var(--inset) + var(--header_width));
	}
	[data-summary_index="2"] > summary {
		left: calc(var(--inset) + var(--header_width) * 2.0);
	}
	[data-summary_index="3"] > summary {
		left: calc(var(--inset) + var(--header_width) * 3.0);
	}
	[data-summary_index="4"] > summary {
		left: calc(var(--inset) + var(--header_width) * 4.0);
	}
	[data-summary_index="5"] > summary {
		left: calc(var(--inset) + var(--header_width) * 5.0);
	}
}
@media only screen and (min-width: 768px) {
	:root {
		--inset: calc(var(--text_font_size) * 2.0);
	}
	html {
		font-size: 16px;
	}
}

@media only screen and (min-width: 900px) {
	main::before {
		content: none;
	}
	header {
		left: var(--inset);
		width: var(--header_width);
		border-left: 1px solid var(--color_border_1);
		border-bottom: none;
		height: 100vh;
	}
	[name="header_navigation"] {
		margin-left: var(--header_width);
	}
	section {
		margin-top: 0;
	}
	[data-summary_index] > summary {
		left: var(--inset);
	}
	[data-summary_index="0"] > summary {
		top: 0;
	}
	[data-summary_index="1"] > summary {
		top: var(--header_width);
	}
	[data-summary_index="2"] > summary {
		top: calc(var(--header_width) * 2.0);
	}
	[data-summary_index="3"] > summary {
		top: calc(var(--header_width) * 3.0);
	}
	[data-summary_index="4"] > summary {
		top: calc(var(--header_width) * 4.0);
	}
	[data-summary_index="5"] > summary {
		top: calc(var(--header_width) * 5.0);
	}

}

/*
@media only screen and (min-width: 1024px) {
	:root {
		--inset: calc(var(--text_font_size) * 2.0);
	}
}
*/
@media only screen and (min-width: 1280px) {
	:root {
		--inset: calc( calc(100% - 1280px + calc(var(--text_font_size) * 2.0)) * 0.5);
	}
}















